
<div class="main">  
  <% cache do %>
    <%= line_chart OrdemServico.group_by_day(:data_criacao).count, colors: ["darkred", "#999"] %>
    <%= column_chart Veiculo.group(:montadora).count %>
    <%= column_chart Veiculo.group(:modelo).count, colors: ["darkred", "#999"] %>
    <%= pie_chart Transacao.group(:valor_recebido).count %>
  <% end %>
</div>

