.veiculos {

  
  .top {

    position: sticky;
    top: 2em;    
    height: 3em;
    line-height: 3em;

    h1 {      
      display: inline-block;
      margin-right: 2em;
    }

    form {
      display: inline;
    }

  }

  th {
    text-align: center;
  }

  .table {
    white-space: normal !important;
    table-layout: auto !important;
  }

  .head {
    position: relative;
    min-height: 1em;
    line-height: 1em;    
    background-color: white;
    opacity: 1;
    width: 25%;
    overflow: auto;
    top: 0;        
    th {
      border-right: 1px dashed #AAA;      
    }        
  }

  .lista-direita {
    z-index: 1;
    max-width: 25% !important; 
    overflow: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;    
    border-left: 1px solid grey;
    font-size: 10pt;
    display: block;    
    opacity: 1;    
    
    tr {
      cursor: pointer;
      transition: 200ms linear filter;
    }

    .table-hover tr:hover {
      filter: invert(80%);        
    }
  
    tbody tr td {
      background-color: white;
    }

    th td, th:hover {  
      filter: invert(100%);         
    }    
    
    .active td, .active td:hover {
      background-color: darkred !important;      
    }
  }  

  .center{ 
    font-size: 12pt;
    max-width: 75%;
    margin: 0;
    tr {
      td {
        padding: 5px;
      }
    }
  }

  .btn {
    margin-left: 0.2em;    
    width: 10em;    
    font-size: 14pt;
  }

}