<!DOCTYPE html>
<html>
  <head>
    <title>AutoMAB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="sidenav">
      <a href="">Home</a>
      <a href="">Agendamento</a>
      <a href="">Orçamento</a>
      <a href="">Ordem de Serviço</a>
      <button class="dropdown-btn">Cadastrar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="">Clientes</a>
        <a href="">Funcionários</a>
        <a href="">Cargos</a>
        <a href="">Categorias de Item</a>
        <a href="">Itens</a>
        <a href="">Veículos</a>
      </div>
      <button class="dropdown-btn">Consultar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="">Clientes</a>
        <a href="">Funcionários</a>
        <a href="">Cargos</a>
        <a href="">Categorias de Item</a>
        <a href="">Itens</a>
        <a href="">Veículos</a>
      </div>
    </div>

    <div class="main">
      <%= yield %>
    </div>
    
  </body>
  
</html>
